body {
    background-image: url(/assets/summer.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 50pt;
}

#arr1 {
    font-weight: 900;
    font-size: 20pt;
    margin-left: 500px;
    margin-right: 500px;
    word-spacing: 450px;
}

#arr2 {
    font-weight: 900;
    font-size: 20pt;
}

hr {
    width: 800px;
}