body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(255, 11, 202);
}

@media only screen and (min-device-width: 400px) {
    body {
      background-image: url(/assets/summer.png);
    }
  }

h1 {
    font-size: 50pt;
}

#arr1 {
    font-weight: 900;
    font-size: 20pt;
   word-spacing:20px;
}

hr {
    width: 800px;
}